@use "~@blueprintjs/colors/lib/scss/colors"

#route-search-view
  .content
    display: flex
    flex-direction: column
    gap: 15px

    > .bp5-card
      max-width: 680px
      background-color: colors.$light-gray4

      .bp5-dark &
        background-color: colors.$dark-gray4

  .component-program-title
    font-size: 18px
    line-height: 1.3em

    .name
      font-weight: 400
