/.vscode
/node_modules
/src
/tmp
/test
/*.0x
.dockerignore
.editorconfig
.gitignore
azure-pipelines.yml
.env
Dockerfile
gulpfile.js
tsconfig.json
tsconfig.webpack.json
tslint.json
webpack.config.js
*.m2ts
*.tar
*.log
*.swp
*.tmp
test.*
