@use "~@blueprintjs/colors/lib/scss/colors"

.component-program-av-info
  display: flex
  flex-wrap: wrap
  gap: 5px
  font-size: 10px
  font-weight: 600
  color: colors.$gray1

  span
    padding: 2px 4px
    border-radius: 2px
    border: 1px solid

    &.video
      color: colors.$gold4

      &.type
        text-transform: uppercase

    &.audio
      color: colors.$vermilion4
