@use "~@blueprintjs/colors/lib/scss/colors"

.component-program-related-links
  display: flex
  gap: 10px

  > .bp5-section
    min-width: 300px
    max-width: 380px
    background-color: colors.$light-gray4

    .bp5-dark &
      background-color: colors.$dark-gray4

  .component-program-card-base
    padding: 15px
